* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

body {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    background: #231F20;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}
header img {
    margin: 0 20px;
}

.cont {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10vh;
    box-shadow: 0 0 2px 3px rgba(0,0,0,.2);
    border-radius: 10px;
}
.cont h1 {
    background: #231F20;
    color: #fff;
    text-align: center;
    font-size: 50px;
    
}
body .welcome, .cont form{
    background: #f0db00;
    padding: 1.5em;
    min-height: 300px;
}

.welcome .reg, .login {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5em;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,.2);
    padding: 5px 10px;
    background: #231F20;
}
.welcome .login {
    margin-top: 10vh;
}
.welcome .reg .welcome-link, .login .welcome-link {
    color: #fff;
    text-decoration: none;
    font-size: 26px;  
}
.welcome .reg .welcome-link:hover, .login .welcome-link:hover {
    color: #f0db00;
}

.cont .email, .pwd, .check, .login-btn-link {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

form input {
    margin-bottom: 1em;
    width: 100%;
    border: none;
    outline: none;
    height: 25px;
    font-size: 20px;
}
form .passport {
    display: flex;
    flex-wrap: wrap;
} 
form .passport .series input, .number input {
    width: 100px
}
form .check .form-check {
    display: flex;
    height: 20px;
    justify-content: left;
    align-items: center;
}
form .check .form-check input {
    width: 20px;
    margin: 0;
    margin-right: 5px;
}
.series, .number {
    margin: 0 20px 0 0
}
form .passport .issued input, .address input {
    width: 250px
}
form .passport label {
    display: block;
}
form .pwd-cont {
    display: flex;
    flex-wrap: wrap;
}
form .pwd-cont input {
    width: 150px;
    margin: 0 20px 0 0;
}
.login-cont {
    display: block;
}
.login-cont .login-btn-link button {
    width: 100%;
    border: none;
    outline: none;
    background:#231F20;
    color: #fff;
    font-size: 24px;
    padding: 10px 0;
    margin: 1em 0;
    box-shadow: 0 0 10px -5px #000;
}
.login-cont .login-btn-link button:hover {
    color:#f0db00;
}
.login-cont .pwd-reset {
    color:#231F20;

}

.home {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10vh;
    background:#231F20;
}
.home h1 {
    color: #fff;
    font-size: 50px;
    margin: 1em;
}
.userdata {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    background:#f0db00;
    padding: 1em;
}
.userbuttons  {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userbuttons a, .userbuttons button {
    align-items: center;
    background:#f0db00;
    padding: .5em;
    color:#231F20;
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 16px;
    transition: .5s;
}
.userbuttons a:hover {
    background: #231F20;
    color: #f0db00;
}
.userbuttons button:hover {
    background: #B40A1B;
    color: #fff;

}

 footer {
    background: #231F20;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
footer h2 {
    color: #fff;
    margin: 1em;
    font-size: 14px;
}

